Repository MetisProtocol/mvm, pull requests merged in 2021-11, with the labels that each got.

#15 verifier node with rinkeby
  ops/docker-compose-verifier.yml
Labels: 2-reviewers, M-ops

#16 Update docker-compose-aws.yml
  ops/docker-compose-aws.yml
Labels: 2-reviewers, M-ops

#21 verifier result add to dtl
  l2geth/rollup/client.go
  l2geth/rollup/sync_service.go
  ops/docker-compose-local.yml
  ops/docker-compose-replica.yml
  packages/contracts/contracts/MVM/MVM_DiscountOracle.sol
  packages/contracts/contracts/MVM/MVM_Verifier.sol
  packages/contracts/scripts/deploy-scripts/andromeda-genesis.sh
  packages/contracts/scripts/deploy-scripts/andromeda.sh
  packages/contracts/scripts/deploy-scripts/trial.sh
  packages/data-transport-layer/openapi.yml
  packages/data-transport-layer/src/client/client.ts
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  packages/data-transport-layer/src/types/database-types.ts
Labels: 2-reviewers, M-ops, M-contracts, M-dtl, M-l2geth

#22 allow 0 price withdraw from metis manager
  l2geth/rollup/fees/rollup_fee.go
  packages/contracts/bin/deploy.ts
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/L2/predeploys/OVM_GasPriceOracle.sol
  packages/contracts/deploy/016-MVM_DiscountOracle.deploy.ts
  packages/contracts/scripts/deploy-scripts/andromeda-genesis.sh
  packages/contracts/scripts/deploy-scripts/trial-genesis.sh
Labels: 2-reviewers, M-contracts, M-l2geth

#23 print more info for rollup, add docker env
  l2geth/rollup/sync_service.go
  ops/docker-compose-local.yml
  ops/docker-compose-nobuild.yml
  ops/docker/Dockerfile.deployer
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
  packages/contracts/test/contracts/OVM/predeploys/OVM_SequencerEntrypoint.spec.ts
Labels: 2-reviewers, M-ops, M-batch-submitter, M-contracts, M-l2geth

#24 final touch: allow feevault to bridge without the bridge fee
  .gitignore
  l2geth/internal/ethapi/api.go
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Labels: 2-reviewers, M-contracts, M-l2geth

#27 Review build
  ops/docker-compose-local.yml
  ops/docker/Dockerfile.deployer
  ops/docker/Dockerfile.integration-tests
Labels: 2-reviewers, M-ops

#28 fix demo.spec.ts to test deposit and withdraw
  integration-tests/test/demo.spec.ts
  l2geth/core/events.go
  l2geth/core/tx_pool.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, M-integration

#29 package/dtl: fix service graceful stop issue
  packages/common-ts/src/base-service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: 2-reviewers, M-dtl

#30 dtl exports stateRoots for verifier
  integration-tests/test/shared/mvm-env.ts
  integration-tests/test/shared/mvm-utils.ts
  integration-tests/test/verifier.spec.ts
  ops/docker/Dockerfile.deployer
  packages/contracts/contracts/MVM/MVM_Verifier.sol
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
Labels: 2-reviewers, M-ops, M-contracts, M-dtl, M-integration

#33 peer env for debug_tracetransaction
  ops/envs/geth-peer.env
  ops/geth-peer/geth.env
  ops/geth-peer/geth.sh
  ops/scripts/geth-peer.sh
Labels: 2-reviewers, M-ops
