Repository MetisProtocol/mvm, pull requests merged in 2022-04, with the labels that each got.

#44 Dev storage 410 2
  packages/contracts/deployments/README.md
  packages/contracts/deployments/trial/BondManager.json
  packages/contracts/deployments/trial/CanonicalTransactionChain.json
  packages/contracts/deployments/trial/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/trial/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/trial/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/trial/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/trial/Lib_AddressManager.json
  packages/contracts/deployments/trial/MVM_DiscountOracle.json
  packages/contracts/deployments/trial/MVM_L2ChainManagerOnL1_for_verification_only.json
  packages/contracts/deployments/trial/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/trial/Proxy__MVM_ChainManager.json
  packages/contracts/deployments/trial/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/trial/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/trial/StateCommitmentChain.json
  packages/contracts/scripts/deploy-scripts/trial-genesis.sh
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
Labels: 2-reviewers, M-contracts, M-dtl

#43 verifier stake event in DTL, change tx verify solution in MVM_CTC
  integration-tests/test/wrapper-of-ctc.spec.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/transaction-chain-contract.ts
  packages/contracts/contracts/MVM/MVM_CanonicalTransaction.sol
  packages/contracts/contracts/MVM/iMVM_CanonicalTransaction.sol
  packages/core-utils/src/coders/minio-client.ts
  packages/core-utils/src/coders/sequencer-batch.ts
  packages/data-transport-layer/src/client/client.ts
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/append-batch-element.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/verifier-stake.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  packages/data-transport-layer/src/types/database-types.ts
  packages/data-transport-layer/src/types/event-handler-types.ts
  packages/data-transport-layer/src/types/event-types.ts
  packages/data-transport-layer/src/utils/contracts.ts
Labels: 2-reviewers, M-batch-submitter, M-contracts, M-core-utils, M-dtl, M-integration

#47 a patch of dtl for batch tx l1block
  packages/data-transport-layer/src/db/patch-01.ts
  packages/data-transport-layer/src/db/transport-db.ts
Labels: 2-reviewers, M-dtl

#48 dtl compatible with legacy data
  packages/data-transport-layer/src/db/patch-01.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/transaction-enqueued.ts
Labels: 2-reviewers, M-dtl

#49 l1 enqueued fix for verifier
  packages/data-transport-layer/src/db/transport-db.ts
Labels: 2-reviewers, M-dtl
